<section class="max-w-xl mx-auto">
  <.header class="text-center mb-10">
    <%= gettext("Torneos") %>
  </.header>

  <ul class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
    <li
      :for={%{id: id, name: name} <- @tournments}
      class="hover:underline cursor-pointer"
      phx-click={JS.navigate(~p"/tournments/#{id}")}
    >
      <%= name %>
    </li>
  </ul>
</section>
